<section class="box skills">
  <div class="stack gap-2 lg:gap-4 redirect">
    <h2>Exploring Exo Planets</h2>
    <img src="/assets/rocket.png" alt="rocket" class="responsiveimg" />
    <p>Explore ExoPlanets with Rocky</p>
  </div>
  <div class="stack gap-2 lg:gap-4 redirect">
    <h2>Discovering ExoPlanets</h2>
    <img
      src="/assets/telescope.png"
      alt="telescope"
      class="responsiveimg"
    />
    <p>Discover with Everest</p>
  </div>
</section>

<style>
  .redirect {
    cursor: pointer;
    box-shadow: var(--shadow-md);
    text-align: center;
    padding: 10px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
  .responsiveimg {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .iconCard {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aqua;
  }

  .title {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
  }
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
    perspective: 1000px;
    height: auto;
    width: 100%;
  }

  .superIcon {
    height: 60px;
    width: 60px;
  }

  .model {
    height: 100%;
    width: 100%;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      justify-content: center;
      width: 100%;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }

    .redirect {
      max-width: 100%;
    }
  }

  @media (max-width: 50em) {
    .skills {
      flex-direction: column;
      gap: 2rem;
      width: 100%;
    }

    .skills h2 {
      font-size: var(--text-xl);
    }

    .redirect {
      height: auto;
      width: 100%;
    }
  }
</style>