---
const { subtitle } = Astro.props;
---

<div class="hero stack gap-4">
  <slot />
  <p class="subtitle">{subtitle}</p>
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .subtitle {
    max-width: 37ch;
    margin-inline: auto;
  }

  .roles {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }
  }
</style>
